<!-- <div>{{oszlopok|json}}</div> -->
{{allatok|json}} 
<div class="container">
    <div class="row">
        <div class="col-4">
            Keresés:
            <input 
                [(ngModel)]="keresendo" 
                type="text" 
                class="form-control">
        </div>
    </div>

    <div class="row my-4 fw-bold">
        <div (click)="rendez(oszlop)" *ngFor="let oszlop of oszlopok" class="col">
            {{oszlop.text}}

            <ng-container *ngIf="oszlop==rendezOszlop">
                <i *ngIf="rendezIrany==3" class="bi bi-arrow-down"></i>
                <i *ngIf="rendezIrany==2" class="bi bi-arrow-up"></i>
            </ng-container>

            </div>
        <div class="col">
            Műveletek
        </div>
    </div>

    <div class="row my-2">      
        <div *ngFor="let oszlop of oszlopok" class="col">
            <ng-container [ngSwitch]="oszlop.type">
                <select *ngSwitchCase="'select'"
                [(ngModel)]="ujAllat[oszlop.key]"
                class="form-control">    
                    <option *ngFor="let faj of oszlop.options; let i=index" [value]="i">
                        {{faj}}
                    </option>              
                </select>
                <!-- <div *ngFor="let faj of oszlop.options"> 
                    {{faj|json}}
                    {{faj['id']}}
                </div> -->
                <span *ngSwitchCase="'plain'">
                    {{ujAllat[oszlop.key]}}
                </span>

                <input *ngSwitchDefault="" 
                [(ngModel)]="ujAllat[oszlop.key]" 
                [type]="oszlop.type" 
                class="form-control">

            </ng-container>
            
            
            <!-- {{allat[oszlop.key]}} -->
           
        </div>

        <div class="col my-2">
            <button (click)="add()" type="button" class="btn btn-primary btn-sm">Hozzáadás</button>
        </div>
    </div>
    <!-- |sort:rendezOszlop:rendezIrany -->

    <div *ngFor="let allat of (allatok|search:keresendo)|sort:rendezOszlop:rendezIrany" class="row my-2">      
        <div *ngFor="let oszlop of oszlopok" class="col">
            <ng-container [ngSwitch]="oszlop.type">
                <select *ngSwitchCase="'select'"
                [(ngModel)]="allat[oszlop.key]"
                class="form-control">    
                    <option *ngFor="let faj of oszlop.options; let i=index" [value]="i">
                        {{faj}}
                    </option>              
                </select>
                <!-- <div *ngFor="let faj of oszlop.options"> 
                    {{faj|json}}
                    {{faj['id']}}
                </div> -->
                <span *ngSwitchCase="'plain'">
                    {{allat[oszlop.key]}}
                </span>

                <input *ngSwitchDefault="" 
                [(ngModel)]="allat[oszlop.key]" 
                [type]="oszlop.type" 
                class="form-control">

            </ng-container>
            
            
            <!-- {{allat[oszlop.key]}} -->
           
        </div>

        <div class="col my-2">
            <button (click)="save(allat)" type="button" class="btn btn-primary btn-sm">Mentés</button>
            <button (click)="del(allat)" type="button" class="btn btn-secondary btn-sm ms-2">Törlés</button>
        </div>
    </div>
</div>