<nav *ngIf="text" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
           <li *ngFor="let item of text.menu" class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/'+item.link]" routerLinkActive="router-link-active" >{{item.text}}</a>
          </li>
         
      
         
        </ul>
        <form class="d-flex">
          <input (keypress)="changeShearch(keres.value)" #keres class="form-control me-2" type="search" [placeholder]="text.kereses" aria-label="Search">
          <button (click)="setSearch(keres.value)" class="btn btn-outline-success" type="submit">{{text.kereses}}</button>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{aktLang}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li *ngFor="let lang of text.nyelv">
                    <a (click)="changeLang(lang)" class="dropdown-item" >
                        {{lang.text}}
                    </a>
                </li>
                </ul>
              </li>
        </ul>
      </div>
    </div>
  </nav>